html, body  { height: 100%;}            
             
/* Base Styles  skeleton
ññññññññññññññññññññññññññññññññññññññññññññññññññ */
/* NOTE html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {font-size: 62.5%;}

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');   */
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.65;
  font-weight: 400;
  /* font-family: 'Georgia', serif;  
    color: #222;     */
  font-family: 'Roboto', sans-serif; 
  color: #646464;
  position: relative;
  overflow-x: hidden;
  margin:10px;
}

/* Typography skeleton     
ññññññññññññññññññññññññññññññññññññññññññññññññññ */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.3;}
h2 { font-size: 2.6rem; line-height: 1.35;}
h3 { font-size: 2.2rem; line-height: 1.4;}
h4 { font-size: 1.8rem; line-height: 1.5;}
h5 { font-size: 1.5rem; line-height: 1.6;}  
a {color: #025391;text-decoration: none;} a:hover {text-decoration:underline;} 
/*brending*/
.overheader {background: url(/templates/agrid/_adv/branding_overheader.png) repeat fixed;background-size: 350px;line-height:0;} 
/*grid*/
.overheader {grid-area:oh;text-align:center;}
header {grid-area:h;background:#b5b5b5;text-align:center;z-index: 9999; height: 80px;}
.breadcrumbs {grid-area:bc;}
.social {grid-area:s;text-align:center;display:none;}
.search {grid-area:sch;display:flex;align-items:center;}  
/*only for google search*/
.search form, .search input{width: 100%;}     
main {grid-area:m;align-self:start;border:1px solid #A9A9A9;padding: 0 10px;}
.bottom {grid-area:b;}
footer {grid-area:f;background:#b5b5b5;}
.wrapper {margin: 0 auto;min-width: 320px;max-width: 1800px;}
.wrapper {
    display: grid;
    grid-gap: 1.2rem;
    justify-content: center;
    grid-template-rows: auto auto minmax(25px, max-content) 35px;
    grid-template-areas: "h" "oh" "bc" "sch" "s" "m" "b" "f";
}

.sticky{position:-webkit-sticky;position:sticky;top:0;}
.above1 {z-index:1;}
.above2 {z-index:2;}
.sidebarR, .sidebarL{display:none;}
.sm, .md, .lg, .xl {display:none;}
#adv_kod_frame {width : 336px;}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}
/* sm Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    .social{display:block;}
    .sm {display:block;}
    .wrapper {         
        grid-template-columns: auto 190px;
        grid-template-areas: "h h" "oh oh" "bc bc" "sch s" "m m" "b b" "f f";
    }   
}
/* md Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .overheader{height: 90px;} /*google ads from this point and above*/
    #adv_kod_frame {width : 550px;}
    .md {display:block;} 
    .sidebarR {grid-area:sbr;display:block;}
     main {min-width: 385px}  
    .wrapper {                      
        grid-template-columns: auto 190px 300px; 
        grid-template-areas: "oh oh oh" "h h h" "bc bc sbr" "sch s sbr" "m m sbr" "b b sbr" "f f f";
    }   
}
/* lg Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    .lg{display:block;}
   /* .sticky.R300x600 {top:97px;} not cutted overheader ad*/
}
/* xl Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .xl{display:block;} 
  .sidebarL {display:block;}  
  .sidebarL {grid-area:sbl;}  
  .wrapper {                      
        grid-template-columns: 300px auto 190px 330px;
        grid-template-areas: "oh oh oh oh" "h h h h" "sbr bc bc sbl" "sbr sch s sbl" "sbr m m sbl" "sbr b b sbl" "f f f f";
  } 
    
}
/* Print page */                  
@media print { 
    .wrapper {grid-template-columns: calc(100% - 1.5cm); grid-template-areas: "h" "bc" "m"; color: #000; background: #fff;} 
    
    /* ‚˚‡‚ÌË‚ÌËÂ ÔÓ ‚ÂÚËÍ‡ÎË #logoprint ÔÓÒÎÂ ÔÓˇ‚ÎÂÌËˇ qrcode   */
    header{ position: relative;}
    #logoprint {float: left; margin: 0;position: absolute; top: 50%;transform: translate(0, -50%);}  
    #qrcode  {float: right;}
    #qrcode, #logoprint, #print_adv {display:block!important;}    
    #copyright, #logoimg, .search, .social, .bottom, #beforecont1, #beforecont2, #aftercont, .share42init, div[id^="div-"] {display:none!important;} 
    
    #rel_bot, .advconts, .edu_18j4tqk, #con_viPlayer_102235, div[id^="mv-content-roll"]{display: none!important;} 
                
    .breadcrumbs {font-size:1.2em;}
    main {font-size: 1.2em; text-align: justify;}    
    main p {text-indent:1em;} 
    @page {margin-left: 1cm; margin-right: 0.5cm;}   
    h1, h2, h3 {page-break-after: avoid;}  

} 
 
/* innercontent ÒÓ‰ÂÊ‡ÌËÂ Ï‡ÚÂË‡ÎÓ‚*/ 
.innercontent a:link, .innercontent a:visited{color:#333333;text-decoration:none;}
a.contlk_lev1, a.contlk_lev1:link, a.contlk_lev1:visited{color:#003399;font-weight:bold;font-size:1.6rem;padding:1px 0px 1px 20px;margin:3px 0px 3px 0px;display:block;text-indent:0px;}
a.contlk_lev1:hover{color:#003399;text-decoration:underline;}
a.contlk_lev2, a.contlk_lev2:link, a.contlk_lev2:visited{padding:1px 0px 1px 40px;margin:3px 0px 3px 0px;color:#000000;font-size:1.4rem;font-weight:bold;display:block;text-indent:0px;}
a.contlk_lev2:hover{color:#000000;text-decoration:underline;}
a.contlk_lev3, a.contlk_lev3:link, a.contlk_lev3:visited{padding:1px 0px 1px 60px;margin:3px 0px 3px 0px;text-indent:0px;font-size:1.4rem;color:#000000;display:block;}
a.contlk_lev3:hover{color:#000000;text-decoration:underline;}
a.contlk_lev4, a.contlk_lev4:link, a.contlk_lev4:visited{padding:1px 0px 1px 80px;margin:3px 0px 3px 0px;font-size:1.4rem;color:#000000;display:block;}
a.contlk_lev4:hover{color:#000000;text-decoration:underline;}
a.contlk_lev5, a.contlk_lev5:link, a.contlk_lev5:visited{padding:1px 0px 1px 100px;margin:3px 0px 3px 0px;font-size:1.4rem;color:#000000;display:block;}
a.contlk_lev5:hover{color:#000000;text-decoration:underline;}
/* img autowidth */  
.smtb img{max-width:100%;} 
/* table autowidth */  
#cont2 {table-layout: fixed;width: 100%;}
#cont2 td#cont2td {width: 100%;}     
/* table Zebra striping */  
.smtb table  {display: inline-block;max-width: 100%;overflow-x: auto;border-collapse: collapse;border-spacing: 0;}
.smtb table {border: none; }
.smtb tr:nth-of-type(even) {background: #C0C0C0;}
.smtb tr:nth-of-type(odd) {background: #A9A9A9;}
.smtb th {background: #A9A9A9; color: white;font-weight: bold;}
.smtb td, .smtb th {padding: 10px; border: 1px solid #ccc; text-align: left;}
.jdtbl tr, .jdtbl td {background:transparent!important;}  
/* social icons */  
#share42 a {opacity: 0.7}
#share42 a:hover {opacity: 1}
/* adv 300x250*/ 
.gads_lt {float:left; margin: 0 10px 10px 10px;/*border-style: outset; box-shadow: 15px 15px 40px rgba(0,0,0,0.8); */background-color:white;}
/* download file button*/ 
.button15 {display: inline-block; font-family: arial,sans-serif; font-size: 11px; font-weight: bold; color: rgb(68,68,68); text-decoration: none; user-select: none; padding: .2em 1.2em; outline: none; border: 1px solid rgba(0,0,0,.1); border-radius: 2px; background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1); transition: all .218s ease 0s;}
.button15:hover {color: rgb(24,24,24); border: 1px solid rgb(198,198,198); background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1); box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.button15 img {margin-left: 10px;}
.button15 div { font-size: 11px; float: right; padding: 10px 0;}
/* book cover align on content page*/ 
#book_cover{position:relative;float:left;width:270px;padding:15px 10px 13px 20px;background-size:cover}
#book_cover img{box-shadow:.4em .4em 5px rgba(122,122,122,0.5)}
#book_cover #book_cover_title{position:absolute;top:110px;left:10px;width:250px;font-size:16px;font-family:Roboto,"Trebuchet MS",Helvetica,sans-serif;color:#000;text-align:center;font-weight:700;max-height:400px;line-height:2;overflow:hidden;padding:0 70px 0 30px}

img{margin-right:10px;image-rendering: -webkit-optimize-contrast;}
p.contt{font-size:Large;text-align:center;}
/* section at blogsection*/ 
div#intrtext p{font-size:14px;font-style:italic;padding: 10px 0 0 0;}
.blog .contentpaneopen img{float:left;position:relative;top:0px;/*z-index:5;*/max-width: 100px;/*box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);*/}
.blog .contentpagetitle{padding-left:110px;position:relative;top:15px;z-index:5;}
.blog #intrtext p{font-size:12px;font-style:italic;}   

p, li{margin-block-start:1rem;}
li{list-style:none;}
/* text lists*/
.smtb ul{padding:0; margin-left:4rem;}
.smtb li{text-indent:-2rem;}
/* footnote links*/
.smtb ul.footnote {border-top: 1px solid #eeeeee;}
.smtb ul.footnote li {color: #4F4F4F;padding-top: 10px;font-size:1.2rem;margin: 0 0 0 20px;text-indent: 0;}
a.annot, a.srcannot {color:#1fa2d6;}

.table_pagecontent {background: #f2f5f9;border-radius: 5px;width: 50%; float:right;margin-left: 10px;}
.table_pagecontent_header {padding: 5px 20px;font-weight: 700;font-size: 1.1em;}
.table_pagecontent ul{list-style-type: disc;}
.table_pagecontent li {padding:5px 10px 5px 5px;margin:3px 0px 3px 0px;display:block;text-indent:0px;}
/*.table_pagecontent li.lev1{padding-left: 20px;}
.table_pagecontent li.lev2{padding-left: 40px;}*/
.table_pagecontent li a{color: #0C72B6;font-family: verdana,arial,helvetica,sans serif;font-size: 12px;} 
 
.burg-menu{z-index: 3;float: right;width:7rem;position:relative;color:#fff;text-align:center;height:7.5rem;}
.burg-menu #check-menu{display:none}
.burg-menu label{display:block;position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:2;line-height:4rem}
.burg-menu .burger-line{position:absolute;top:15px;left:10px;width:4.5rem;height:3px;background-color:#fff;transition:.5s all}
.burg-menu .second,.third{top:3.5rem}
.burg-menu .fourth{top:5.5rem}
.burg-menu .main-menu{display:block;position:absolute;width:100%;bottom:0;right:0;transform:translateY(100%);max-height:0;overflow:hidden;transition:.5s all}
.burg-menu a{display:block;width:100%;padding:3px 3px 3px 10px;color:#fff;text-decoration:none;border-top:1px solid rgba(255,255,255,.3);background-color:#b5b5b5;text-shadow: 6px 4px 10px black;}
.burg-menu a:hover{background-color:#8a8a8a;}
.burg-menu #check-menu:checked ~ .main-menu{width:25rem;max-height:150rem;/*font-size:1.4rem;*/}
.burg-menu #check-menu:checked ~ .first{display:none}
.burg-menu #check-menu:checked ~ .second{transform:rotate(45deg)}
.burg-menu #check-menu:checked ~ .third{top: 35px;transform:rotate(-45deg)}
.burg-menu #check-menu:checked ~ .fourth{display:none}
.burg-menu .moduletable {width:100%;}
  /* blogsection*/
.blogKind:first-letter {font-size: 20px;}
.blogKind{font-size: 15px;font-weight: 700;color: #656565;}
.blogKindTitle a{font-size: 15px;color: #22638f;font-weight: 700;}
/*adverts in content*/
.advconts {margin: 5px;}
.advconts:nth-of-type(odd) {float:left;}
.advconts:nth-of-type(even) {float:right;}  
/*.advconts:nth-of-type(3n) {text-align: center;}
.advconts:nth-of-type(3n-1) {float:right;}  
.advconts:nth-of-type(3n-2)  {float:left;}*/
/* freshvideocss */
#fresh_flyroll_div, #vid_vpaut_div {margin-top:15px;/*margin-left:-60px;*//*margin: 0 auto;*/}
#tmp_div_vid_flyroll, #tmp_div_vid_vpaut {left:auto!important;/*right:-60px;*/ /* right:0; width:340px!important;*/}